.ListContact_li {
    margin: 1em 0px;
    display: block;
    box-sizing: border-box;
}

i {
    width: 35px;
    height: 35px;
    margin: 5px;
    text-align: center;
}

.Address {
    width: 300px;
    display: block;
    float: right;
    margin-right: 25px;
}

@media screen and (max-width: 800px) {
    .ListContact_li {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
    }

    i { margin-top: 9%;
        display: flex;
        align-items: center;
    }

    .Address {
        width: 75%;
        height: auto;
        margin-right: 1%;
    }
}
